.button {
    background-color: black;
    color: whitesmoke;
    padding: 5px 20px;
    border: solid whitesmoke;
    font-size: large;
}

.button:hover {
    background-color: whitesmoke;
    color: black;
    border: solid black;
}